/* CSS declarations go here */

label.valid {
  width: 24px;
  height: 24px;
  background: url(../../valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.rounded {		
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px; 
}

.tag {
	.rounded;
	background-color: lavender;
	padding: 0 8px 0 8px;

    &:hover {
        font-weight: bold;
    }
    
    &.taglist {
        margin-bottom: 0.2em;
    }
}

.buttonCommands {
	margin-bottom: 20px;
}

.tagList {

    li {
        line-height: 1.5em;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        };
    }

}

#search {
    input[type="text"] {
        background: url(../../search-white.png) no-repeat 10px 6px #fcfcfc;
        border: 1px solid #d1d1d1;
        font: bold 12px Arial,Helvetica,Sans-serif;
        color: #bebebe;
        width: 150px;
        padding: 6px 15px 6px 35px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        
        &:focus {
            width: 200px;
        }
    }
}


.contact-card {
    min-height: 250px;
    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
        -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        border:1px solid rgba(0,0,255, 0.8); 

        cursor: pointer;
    }
}
